---
import ThemeBlockingScript from '@/scripts/theme-blocking-script.astro';

import '@/styles/globals.css';
import { ClientRouter } from 'astro:transitions';
---

<html lang='en' class='scroll-pt-20 scroll-smooth'>
	<head>
		<slot name='head' />
		<ClientRouter fallback='swap' />
		<ThemeBlockingScript />
		<script
			defer
			data-domain='frontendhire.com'
			src='https://plausible.io/js/script.js'></script>
	</head>
	<body>
		<slot />
	</body>
</html>
